
<div class="home-body">
    @if (admin == true) {
        <div class="admin-message">Hello admin!</div>
    } @else if (isLoggedIn == true) {
        <div class="user-message">Hello non-admin user!</div>
    } @else {
        <div class="guest-message">Hello guest!</div>
    }
    <div class="buttons">

            <button (click)="logout()">LOGOUT</button>  

            <button (click)="login()">LOG IN</button>
            <button (click)="getUserRoles()">test</button>
            <div>{{ roles }}</div>
    </div>

</div>
